/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --primary-1: hsl(257, 40%, 49%);
  --primary-2: hsl(300, 69%, 71%);
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

.heading {
  font-family: var(--font-heading);
  color: #fff;
  line-height: 1.3;
  margin-bottom: 0.4em;
}

.huddle-introductory__text {
  font-family: var(--font-body);
  color: #fff;
  line-height: 1.5;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
body {
  background-image: url("../images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--primary-1);
}

.bounceInDown {
  animation: bounceInDown 1s;
}

.huddle-introductory {
  padding: 6%;
}
.huddle-introductory__header {
  margin-bottom: 1rem;
  padding: 2rem 2rem 0 2rem;
}
.huddle-introductory__logo {
  width: 45%;
}
.huddle-introductory__illustration {
  margin-bottom: 3rem;
}
.huddle-introductory__content {
  text-align: center;
  padding: 0 0.85em 0.85em 0.85em;
}
.huddle-introductory__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  padding: 0.4rem;
  border-radius: 100px;
}
.social-media-link:hover {
  border: 1px solid var(--primary-2);
}
.social-media-link:hover svg {
  fill: var(--primary-2);
}
.social-media-link svg {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}

.btn-register:link, .btn-register:visited {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 5rem;
  font-family: var(--font-heading);
  color: var(--primary-1);
  text-decoration: none;
  background-color: #fff;
  width: 70%;
  border-radius: 100px;
  cursor: pointer;
  padding: 0.6em 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.085);
  transition: all 0.2s;
}
.btn-register:hover {
  background-color: var(--primary-2);
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
