@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

body {
  background-image: url('../images/bg-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--primary-1);
  padding: 2rem;
}

// .bounceInDown {
//   animation: bounceInDown 1s;
// }

.huddle-introductory {
  margin-bottom: 3rem;

  &__header {
    max-width: 40%;
    margin-bottom: 3rem;
  }

  &__section {
  }

  &__logo {
  }

  &__illustration {
    margin-bottom: 4rem;
  }

  &__content {
    text-align: center;
  }

  &__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 0.5rem;

  svg {
    width: 1rem;
    height: 1rem;
    fill: #fff;
  }
}

.btn-register {
  &:link,
  &:visited {
    background-color: #fff;
    text-decoration: none;
    font-family: var(--font-heading);
    border-radius: 100px;
    box-shadow: 0 5px 20px rgba($color: #000000, $alpha: 0.2);
    padding: 0.8rem 5rem;
  }
}
