@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

body {
  background-image: url('../images/bg-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--primary-1);

  // @media only screen and (min-width: 1024px) {
  //   background-image: url('../images/bg-desktop.svg');
  //   background-size: cover;
  //   background-position: top;
  // }
}

.bounceInDown {
  animation: bounceInDown 1s;
}

.huddle-introductory {
  padding: 6%;

  &__header {
    margin-bottom: 1rem;
    padding: 2rem 2rem 0 2rem;
  }

  &__section {
  }

  &__logo {
    width: 45%;
  }

  &__illustration {
    margin-bottom: 3rem;
  }

  &__content {
    text-align: center;
    padding: 0 0.85em 0.85em 0.85em;
  }

  &__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  padding: 0.4rem;
  border-radius: 100px;

  &:hover {
    border: 1px solid var(--primary-2);
  }

  &:hover svg {
    fill: var(--primary-2);
  }

  svg {
    width: 1rem;
    height: 1rem;
    fill: #fff;
  }
}

.btn-register {
  &:link,
  &:visited {
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 5rem;
    font-family: var(--font-heading);
    color: var(--primary-1);
    text-decoration: none;
    background-color: #fff;
    width: 70%;
    border-radius: 100px;
    cursor: pointer;
    padding: 0.6em 0;
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.085);
    transition: all 0.2s;
  }

  &:hover {
    background-color: var(--primary-2);
    color: #fff;
  }
}
