.heading {
  font-family: var(--font-heading);
  color: #fff;
  line-height: 1.3;
  margin-bottom: 0.4em;

  @media only screen and (min-width: 1400px) {
    line-height: 1.5;
    font-size: 3.5rem;
    width: 20ch;
  }
}

.huddle-introductory__text {
  font-family: var(--font-body);
  color: #fff;
  line-height: 1.5;

  @media only screen and (min-width: 1400px) {
    line-height: 1.5;
    font-size: 1.25rem;
    width: 50ch;
  }
}
