.heading {
  font-family: var(--font-heading);
  color: #fff;
  margin-bottom: 0.75rem;
}

.huddle-introductory__text {
  font-family: var(--font-body);
  color: #fff;
  padding: 0.2rem;
  margin-bottom: 2.5rem;
}
